@tailwind base;
@tailwind components;
@tailwind utilities;

#nav{
    font-family: 'Inter', sans-serif;
}

#hero-text{
    font-family: 'Outfit', sans-serif;
}

.converter-title{
    font-family: 'Inter', sans-serif;
}